{% extends "page/base.twig" %}


{% block head %}
    <link rel="stylesheet" href="vendor/uwdoem/boundless/assets/uw-brand/css/full.css">
    {{ parent() }}
    <link rel="stylesheet" href="vendor/uwdoem/admissions/assets/css/style.css">
    <script type='text/javascript' src='vendor/uwdoem/admissions/assets/js/site.js'></script>
{% endblock head %}


{% block navheader %}
    <header class="uw-thinstrip">

        <div class='align-right'>
            <nav class="uw-thin-strip-nav">
                <ul class="uw-thin-links">
                    <li>
                        <a href="http://uw.edu/studentlife" title=
                        "Current Students">Current Students</a>
                    </li>

                    <li>
                        <a href="http://uw.edu/facultystaff" title=
                        "Faculty &amp; Staff">Faculty &amp; Staff</a>
                    </li>

                    <li>
                        <a href="http://uw.edu/alumni" title=
                        "Alumni">Alumni</a>
                    </li>
                </ul>
            </nav>
            <nav aria-label="search and quick links" id="search-quicklinks" role="navigation">


                <button class='uw-search' aria-haspopup="true" aria-owns="uwsearcharea" aria-controls="uwsearcharea" aria-expanded="false">Open search area
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.776px" height="51.062px" viewBox="0 0 18.776 51.062" enable-background="new 0 0 18.776 51.062" xml:space="preserve">
            <g><path fill="#FFFFFF" d="M3.537,7.591C3.537,3.405,6.94,0,11.128,0c4.188,0,7.595,3.406,7.595,7.591
                c0,4.187-3.406,7.593-7.595,7.593C6.94,15.185,3.537,11.778,3.537,7.591z M5.245,7.591c0,3.246,2.643,5.885,5.884,5.885
                c3.244,0,5.89-2.64,5.89-5.885c0-3.245-2.646-5.882-5.89-5.882C7.883,1.71,5.245,4.348,5.245,7.591z"></path>

                <rect x="2.418" y="11.445" transform="matrix(0.7066 0.7076 -0.7076 0.7066 11.7842 2.0922)" fill="#FFFFFF" width="1.902" height="7.622"></rect>
            </g>
                        <path fill="#FFFFFF" d="M3.501,47.864c0.19,0.194,0.443,0.29,0.694,0.29c0.251,0,0.502-0.096,0.695-0.29l5.691-5.691l5.692,5.691
              c0.192,0.194,0.443,0.29,0.695,0.29c0.25,0,0.503-0.096,0.694-0.29c0.385-0.382,0.385-1.003,0-1.388l-5.692-5.691l5.692-5.692
              c0.385-0.385,0.385-1.005,0-1.388c-0.383-0.385-1.004-0.385-1.389,0l-5.692,5.691L4.89,33.705c-0.385-0.385-1.006-0.385-1.389,0
              c-0.385,0.383-0.385,1.003,0,1.388l5.692,5.692l-5.692,5.691C3.116,46.861,3.116,47.482,3.501,47.864z"></path>
            </svg>

                </button>

                <button class='uw-quicklinks' aria-haspopup="true" aria-expanded="false">Quick Links<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15.63px" height="69.13px" viewBox="0 0 15.63 69.13" enable-background="new 0 0 15.63 69.13" xml:space="preserve"><polygon fill="#FFFFFF" points="12.8,7.776 12.803,7.773 5.424,0 3.766,1.573 9.65,7.776 3.766,13.98 5.424,15.553 12.803,7.78"></polygon><polygon fill="#FFFFFF" points="9.037,61.351 9.036,61.351 14.918,55.15 13.26,53.577 7.459,59.689 1.658,53.577 0,55.15 5.882,61.351 5.882,61.351 5.884,61.353 0,67.557 1.658,69.13 7.459,63.019 13.26,69.13 14.918,67.557 9.034,61.353"></polygon></svg></button>
            </nav>
        </div>

        <div id="wordmark-header" class="container page-width">
            <a class="uw-patch" href="http://uw.edu" tabindex="-1" title=
            "University of Washington Home">Home</a> <a class="uw-wordmark"
                                                        href="http://uw.edu" title=
                                                        "University of Washington Home">Home</a>
        </div>
    </header>

    <nav aria-label="Main menu" id="dawgdrops" role="navigation"  style="" >
        <div class="dawgdrops-inner container page-width" role="application">
            <ul class="dawgdrops-nav" id="menu-dropdowns">
                <li class="dawgdrops-item">
                    <a class="home-btn-link" title="Undergraduate Admissions Home" href="https://admit.washington.edu/"><span class="home-btn"></span></a>
                </li>
                <li class="dawgdrops-item">
                    <a aria-controls="menu-why-uw" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"  href="https://admit.washington.edu/why-uw" id="why-uw" title="Why UW?">Why UW?</a>
                    <ul aria-expanded="false" aria-labelledby="why-uw" class="dawgdrops-menu" id="" role="group">
                        <li><a href="https://admit.washington.edu/why-uw/about" id="about-uw" tabindex="-1" title="About UW">About UW</a></li>
                        <li><a href="https://admit.washington.edu/why-uw/academics" id="academics" tabindex="-1" title="Quick Facts">Academics</a></li>
                        <li><a href="https://admit.washington.edu/why-uw/student-life" id="student-life" tabindex="-1" title="Student Life">Student life</a></li>
                        <li><a href="https://www.hfs.washington.edu/#gsc.tab=0" id="housing-dining" tabindex="-1" title="Housing &amp; dining">Housing &amp; dining</a></li>
                        <li><a href="https://admit.washington.edu/why-uw/seattle-and-the-pacific-northwest" id="seattle-and-the-pacific-northwest" tabindex="-1" title="Seattle &amp; the Pacific Northwest">Seattle &amp; the Pacific Northwest</a></li>
                        <li><a href="http://www.washington.edu/diversity/" id="diversity" tabindex="-1" title="Diversity">Diversity</a></li>

                    </ul>
                </li>
                <li class="dawgdrops-item">
                    <a aria-controls="menu-visit" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"  href="https://admit.washington.edu/visit" id="link-visit" title="Visit">Visit</a>
                    <ul aria-expanded="false" aria-labelledby="visit" class="dawgdrops-menu" id="menu-visit" role="group">
                        <li><a href="https://admit.washington.edu/visit/campus-tour" id="campus-tour-and-freshman-information-session" tabindex="-1" title="Campus tour &amp; freshman information session">Campus tour &amp; freshman information session</a></li>
                        <li><a href="https://admit.washington.edu/visit/transfer-thursday" id="transfer-thursday" tabindex="-1" title="Transfer Thursday">Transfer Thursday</a></li>
                        <li><a href="https://admit.washington.edu/visit/sample-a-class" id="sample-a-class" tabindex="-1" title="Sample a class">Sample a class</a></li>
                        <li><a href="https://admit.washington.edu/visit/group-tours" id="group-tours-request" tabindex="-1" title="Group tours request">Group tours request</a></li>
                        <li><a href="https://admit.washington.edu/visit/getting-here" id="getting-here" tabindex="-1" title="Getting here">Getting here</a></li>
                        <li><a href="https://admit.washington.edu/contact/uw-in-your-area" id="uw-in-your-area" tabindex="-1" title="UW in your area">UW in your area</a></li>
                        <li><a href="https://admit.washington.edu/visit/admitted-student-preview" id="admitted-student-preview" tabindex="-1" title="Admitted Student Preview">Admitted Student Preview</a></li>
                    </ul>
                </li>
                <li class="dawgdrops-item">
                    <a aria-controls="menu-apply" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"  href="https://admit.washington.edu/apply" id="link-apply" title="Apply">Apply</a>
                    <ul aria-expanded="false" aria-labelledby="visit" class="dawgdrops-menu" id="menu-apply" role="group">
                        <li><a href="https://admit.washington.edu/apply/freshman" id="freshman" tabindex="-1" title="Freshman">Freshman</a></li>
                        <li><a href="https://admit.washington.edu/apply/transfer" id="transfer" tabindex="-1" title="Transfer">Transfer</a></li>
                        <li><a href="https://admit.washington.edu/apply/postbaccalaureate" id="postbaccalaureate" tabindex="-1" title="Postbaccalaureate">Postbaccalaureate</a></li>
                        <li><a href="https://admit.washington.edu/apply/applied" id="applied" tabindex="-1" title="Applied">Applied</a></li>
                        <li><a href="https://admit.washington.edu/apply/admitted" id="admitted" tabindex="-1" title="Admitted">Admitted</a></li>
                        <li><a href="https://admit.washington.edu/apply/summer" id="uw-just-for-summer" tabindex="-1" title="UW just for summer">UW just for summer</a></li>
                        <li><a href="https://admit.washington.edu/apply/my-application-type" id="what-kind-of-applicant" tabindex="-1" title="What&#39;s my application type&#63;">What&#39;s my application type&#63;</a></li>
                    </ul>
                </li>
                <li class="dawgdrops-item">
                    <a aria-controls="menu-costs-and-financial-aid" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"  href="https://admit.washington.edu/costs-and-financial-aid" id="link-costs-and-financial-aid" title="Costs &amp; Financial Aidply">Costs &amp; Financial Aid</a>
                    <ul aria-expanded="false" aria-labelledby="costs-and-financial-aid" class="dawgdrops-menu" id="menu-costs-and-financial-aid" role="group">
                        <li><a href="https://admit.washington.edu/costs-and-financial-aid/total-cost-of-attendance" id="total-cost-of-attendance" tabindex="-1" title="Total cost of Aatendance">Total cost of attendance</a></li>
                        <li><a href="https://www.washington.edu/financialaid/" id="financial-aid" tabindex="-1" title="Financial Aid">Financial Aid</a></li>
                        <li><a href="http://www.washington.edu/huskypromise/" id="husky-promise" tabindex="-1" title="Husky Promise">Husky Promise for Washington residents</a></li>
                        <li><a href="https://registrar.washington.edu/students/residency/" id="washington-residency" tabindex="-1" title="Washington residency">Washington residency</a></li>
                        <li><a href="https://admit.washington.edu/costs-and-financial-aid/scholarships" id="scholarships" tabindex="-1" title="Scholarships">Scholarships</a></li>
                        <li><a href="http://www.get.wa.gov/" id="get" tabindex="-1" title="Guaranteed Education Tuition">Guaranteed Education Tuition (GET)</a></li>
                    </ul>
                </li>
                <li class="dawgdrops-item">
                    <a aria-controls="menu-contact" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"  href="https://admit.washington.edu/contact" id="contact" title="Contact">Contact</a>
                    <ul aria-expanded="false" aria-labelledby="contact" class="dawgdrops-menu" id="menu-contact" role="group">
                        <li><a href="https://admit.washington.edu/contact/join-the-the-email-list" id="join-the-email-list" tabindex="-1" title="Join the email list">Join the email list</a></li>
                        <li><a href="https://admit.washington.edu/contact/find-your-admissions-counselor" id="find-your-admissions-counselor" tabindex="-1" title="Find your Admissions counselor">Find your Admissions counselor</a></li>
                        <li><a href="https://admit.washington.edu/contact/admissions-staff-directory" id="admissions-staff-directory" tabindex="-1" title="Admissions staff directory">Admissions staff directory</a></li>
                        <li><a href="https://admit.washington.edu/contact/for-high-school-counselors" id="high-school-counselors" tabindex="-1" title="For HS counselors">For HS counselors</a></li>
                        <li><a href="https://admit.washington.edu/contact/uw-in-your-area" id="uw-in-your-area" tabindex="-1" title="UW in your area">UW in your area</a></li>
                        <li><a href="https://www.washington.edu/maps/" id="campus-map" tabindex="-1" title="Campus map<">Campus map</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <nav aria-label="relative" role="navigation">
        <ul class="uw-mobile-menu first-level"><div class="uw-mobile-menu-toggle" onClick="$('.uw-mobile-menu .menu-dropdowns-container').toggle();">Menu</div>
            <div class="menu-dropdowns-container" style="display: none;">
                <ul class="" id="menu-dropdowns-1">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children" id=""><a href="">Home</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children" id=""><a href="https://admit.washington.edu/why-uw">Why UW?</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children" id=""><a href="https://admit.washington.edu/visit">Visit</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children" id=""><a href="https://admit.washington.edu/apply">Apply</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children" id=""><a href="https://admit.washington.edu/costs-and-financial-aid">Costs &amp; Financial Aid</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children" id=""><a href="https://admit.washington.edu/contact">Contact</a></li>
                </ul>
            </div>
        </ul>
    </nav>

{% endblock navheader %}


{% block footer %}
    <div class="uw-footer">

        <a href="http://www.washington.edu" class="footer-wordmark">University of Washington</a>

        <a href="http://www.washington.edu/boundless/be-boundless/"><h3 class="be-boundless">Be boundless</h3></a>

        <h4>Connect with us:</h4>

        <nav role="navigation" aria-label="social networking">
            <ul class="footer-social">
                <li><a class="facebook" href="http://www.facebook.com/UofWA">Facebook</a></li>
                <li><a class="twitter" href="http://twitter.com/UW">Twitter</a></li>
                <li><a class="instagram" href="http://instagram.com/uofwa">Instagram</a></li>
                <li><a class="tumblr" href="http://uofwa.tumblr.com/">Tumblr</a></li>
                <li><a class="youtube" href="http://www.youtube.com/user/uwhuskies">YouTube</a></li>
                <li><a class="linkedin" href="http://www.linkedin.com/company/university-of-washington">LinkedIn</a></li>
                <li><a class="pinterest" href="http://www.pinterest.com/uofwa/">Pinterest</a></li>
                <li><a class="vine" href="https://vine.co/uofwa">Vine</a></li>
                <li><a class="google" href="https://plus.google.com/+universityofwashington/posts">Google+</a></li>
            </ul>
        </nav>

        <nav role="navigation" aria-label="footer links">
            <ul class="footer-links">
                <li><a href="http://www.uw.edu/accessibility">Accessibility</a></li>
                <li><a href="http://uw.edu/home/siteinfo/form">Contact Us</a></li>
                <li><a href="http://www.washington.edu/jobs">Jobs</a></li>
                <li><a href="http://www.washington.edu/safety">Campus Safety</a></li>
                <li><a href="http://myuw.washington.edu/">My UW</a></li>
                <li><a href="http://www.washington.edu/admin/rules/wac/rulesindex.html">Rules Docket</a></li>
                <li><a href="http://www.washington.edu/online/privacy/">Privacy</a></li>
                <li><a href="http://www.washington.edu/online/terms/">Terms</a></li>
            </ul>
        </nav>

        <p role="contentinfo">&copy; {{ "now"|date("Y") }} University of Washington |  Seattle, WA</p>

    </div>
{% endblock footer %}
